h1{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
h2{
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}
h3{
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
p{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
nav{
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
ul{
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
table{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
footer{
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}